---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "À propos";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="prose">
    <h1>Mon parcours</h1>

    <p>
      Depuis toujours, je suis un passionné de jeux vidéo. À tel point que j'ai
      voulu en faire mon métier et travailler en tant que développeur dans cette
      industrie. Puis j'ai découvert Internet et tout ce qu'on pouvait y faire
      (je vous parle d'un temps que les moins de 30 ans ne peuvent pas
      connaître).
    </p>

    <p>
      J'ai donc acheté des livres de développement à l'époque où l'ADSL n'était
      pas encore répandu et j'ai commencé à créer mes premiers sites. Vint le
      moment de choisir une orientation professionnelle. Malheureusement mauvais
      en aths, le Bac S m'était impossible à obtenir. Pourquoi ce diplôme
      particulièrement ? Parce qu'il m'ouvrait les portes des écoles
      d'ingénieurs de l'époque.
    </p>

    <p>
      J'ai donc mis ce projet de côté et j'ai pris une tout autre voie. Je n'ai
      pas mis longtemps à m'apercevoir qu'elle ne me correspondait pas. Je me
      suis donc dirigé vers une école de multimédia, qui proposait de se former
      aux métiers de graphiste / développeurs, etc. Et c'est là que j'ai eu la
      chance de pouvoir faire 2 ans d'alternance chez l'éditeur des magazines
      PlayStation, Consoles + et autres, en tant que web designer pour le site
      qui était en cours de développement.
    </p>

    <p>
      Après cette expérience, je n'ai pas trouvé de job qui me convenait alors
      je suis rentré dans la vie active (Micromania, Dailymotion, Cheerz). C'est
      lors de ce dernier job que j'ai du mettre mes compétences en matière de
      développement web à contribution, professionnelement pour la première
      fois. Et je me suis souvenu que c'était mon projet de base. Alors je me
      suis renseigné sur les nouvelles formations, s'il était possible de
      devenir développeur sans Bac S. Et oui, c'était le cas !
    </p>

    <p>
      J'ai donc quitté mon CDI, repris 1 an d'études et après mon stage de fin
      de cursus, j'ai été embauché chez Blockchain Partner. Puis tout s'est
      enchaîné : un second CDI chez Weekendesk, puis la grande aventure du
      freelance avec le Club Med, Lite, puis Solteo.
    </p>

    <p>
      Depuis la sortie de l'école, j'ai bien entendu progressé et je suis resté
      très proche des développeurs juniors. J'ai reçu beaucoup de questions
      auxquelles je me suis toujours fait une joie de répondre. J'ai également
      été interviewé sur le métier de développeur front-end dans le magazine
      l'Étudiant, à destination des collégiens et lycéens, afin de les aider à
      choisir leur orientation. Les formations courtes et/ou en ligne vendent
      très souvent le métier de développeur comme quelque chose qui s'apprend en
      3 mois. Nombreuses sont les désillusions. Trois mois, six mois, un an,
      c'est à peine ce qu'il faut pour acquérir les bases. Et comme n'importe
      quel métier, il demande de la pratique et de la persévérance avant d'être
      maîtrisé (d'ailleurs, l'est-il un jour ?).
    </p>

    <h2>Pourquoi CodeCodeCoders ?</h2>

    <p>
      Je voulais créer un blog dont le contenu serait à la fois accessible et
      100% en français. Et c'est bien connu, l'emblème de la France, c'est le
      coq ! Et il fait "cot cot codec" ! Partant de là, le nom CodeCodeCoders
      m'est venu instantanément. Concernant le logo, j'avais une vision assez
      précise de ce que je voulais. J'ai donc contacté l'un de mes meilleurs
      amis, Charles Asselin, graphiste, directeur artistique et photographe, en
      lui disant que je voulais un logo de type "équipe de hockey sur glace",
      avec un coq, le nom du projet, le tout avec les couleurs de la France pour
      insister sur le fait que le contenu serait en français.
    </p>

    <p>
      Aujourd'hui, CodeCodeCoders n'est qu'un blog, mais à terme, j'ai d'énormes
      projets pour lui : chaîne YouTube, podcast, etc. avec toujours cette
      volonté de rendre le développement web accessible à tous.
    </p>
  </div>
</BaseLayout>
