---
const currentYear = new Date().getFullYear();
---

<div
  class="flex h-20 w-full flex-col items-center justify-center border-t border-gray-200 bg-[#fafafb] p-6 text-center"
>
  <h1 class="font-inter text-xs text-gray-600 md:text-sm">
    Copyright © {currentYear} - CodeCodeCoders. Tous droits réservés.
  </h1>

  <p class="font-inter text-xs text-gray-600 md:text-sm">
    Hébergé par{" "}
    <a
      href="https://www.netlify.com/"
      target="_blank"
      class="no-effect font-inter text-xs text-gray-600 underline md:text-sm"
    >
      Netlify
    </a>{" "}
    - 512 2nd Street, Suite 200 San Francisco, CA 94107
  </p>
</div>
